*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url('./images/sky.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.container-fluid{
    max-width: 1024px;
    margin: 50px auto;

}
.content{
    display: flex;
}
.left__content{
    width: 30%;
    background-color: #e5f1ff;
    position: relative;
}
.left__content .avatar{
    text-align: center;
    padding-top: 20px;
}
.left__content .avatar img{
    border-radius: 180px;

}
.about{
    padding: 30px 0 57px 20px;
}
.about .table td{
    padding: 5px;
}
.education{
    padding: 30px 0 20px 20px;
}
.education .row{
    padding: 5px 0;
}

/* ============================================================================================ */

.right__content{
    /* width: 70%; */
    background: #fff;
}
.container{
    margin: 0 50px;
}
.full__name{
    padding: 80px 0 72px;
}
.full__name h1{
    font-size: 40px;
}
.full__name p{
    font-size: 20px;
}
.target .row{
    padding-bottom: 20px;
}

.skills .row{
    margin-bottom: 30px;
}
.skills .row h3{
    padding-bottom: 15px;
}
.skills .row p{
    padding-bottom: 5px;
}



/* Responsive */

/* Mobile: width < 740px*/
@media only screen and (max-width : 739px) {
    .content{
        flex-direction: column;
    }
    .left__content{
        width: 100%;
    }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width : 740px) and (max-width : 1023px) {

}

/* PC: width >=1024px */
@media only screen and (min-width : 1024px) {
    
}