*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}

.header__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;

}
h1{
    color: blueviolet;
}
h2{
    color: blueviolet;
}