*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1024px;
    margin: 0px auto;
}
/* ===============================HEADER============================== */
.header__main--banner{
    background-color: #64abbd;
    height: 200px;
    position: relative;
}
.header__main--banner .info{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}
.header__main--banner .info .phone{
    width: 150px;
}
.header__main--banner .name{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    position: absolute;
    right: 285px;
    top: 100px;
}
.header__main--banner .avatar{
    position: absolute;
    top: 70px;
    left: 50px;
}
.header__main--banner .avatar img{
    border-radius: 180px;
}

/* ====================================MAIN======================================== */
.target{
    background-color: rgb(240, 108, 85);
    height: 1000px;
}